In [13]:
# Import the modules
import pandas as pd

In [14]:
# Create HOST dataframe
df_host = pd.read_csv('export_dataframe_host.csv')
df_host = pd.DataFrame(df_host)
df_host_shape = df_host.shape
print("Host Shape: rows: " + str(df_host_shape[0]) + " and columns: " + str(df_host_shape[1]))
df_host.head()

Host Shape: rows: 4816389 and columns: 29

,absstatus,brakestatus,closestintersectid,device,elevation,filedate,filetimeutc,fixtypehvgps,gpsorientsemimaj,gpssemimajaxis,...,speed,stabilitycontrolstatus,steerangle,throttlepospct,traccontrolstatus,transstate,turnsignal,uuid,wiper,yawrate
0,0,1,0,100943,285.89,20200628,200440,2,156.0,0.53,...,18.066668,0,-2.100000,4,0,2,2,000002b7d2b937138c52f5c099261665,2,0.244125
1,0,1,0,101673,299.78,20200619,121501,2,140.0,0.46,...,9.194444,0,50.700000,0,0,2,2,000008ec16a1251fbd5841541159960a,0,9.277328
2,0,1,0,100818,246.89,20200601,151004,2,170.0,0.56,...,16.369444,0,0.000000,0,0,2,0,00000a58077e9f2008e9e707261788cd,0,0.000000
3,0,0,0,101829,246.42,20200608,205743,2,163.0,0.55,...,7.056722,0,0.000000,0,0,2,0,00000bb8e7c5c19262e858c64bbcc4ce,0,1.164216
4,0,0,0,100943,231.59,20200621,221058,2,25.0,10.00,...,2.511111,0,-46.600002,8,0,2,0,00000e1441658d3f0f04214f45e15c48,0,-2.929703

In [15]:
# Create a subset of all variables we want to look at
df_host = df_host[['brakestatus', 'device', 'headlamp', 'speed', 'stabilitycontrolstatus', 'traccontrolstatus', 'transstate', 'turnsignal', 'wiper', 'yawrate']]
df_host.head()

,brakestatus,device,headlamp,speed,stabilitycontrolstatus,traccontrolstatus,transstate,turnsignal,wiper,yawrate
0,1,100943,0,18.066668,0,0,2,2,2,0.244125
1,1,101673,0,9.194444,0,0,2,2,0,9.277328
2,1,100818,0,16.369444,0,0,2,0,0,0.000000
3,0,101829,0,7.056722,0,0,2,0,0,1.164216
4,0,100943,0,2.511111,0,0,2,0,0,-2.929703

In [16]:
# Create SUMMARY dataframe
df_summary = pd.read_csv('export_dataframe_summary.csv')
df_summary = pd.DataFrame(df_summary)
df_summary_shape = df_summary.shape
print("Summary Shape: rows: " + str(df_summary_shape[0]) + " and columns: " + str(df_summary_shape[1]))
df_summary.head()

Summary Shape: rows: 2611 and columns: 33

,configsversionstring,configversion,deltamediaversionstring,device,endlatitude,endlocaltime,endlongitude,endodometer,filedate,filetimeutc,...,startlatitude,startlocaltime,startlongitude,startodometer,storageused,swversionmaj,swversionmin,totalstorageondevice,utctime,uuid
0,NaN,0,NaN,101228,40.267269,80818385,-83.374784,120944654,20200626,221119,...,40.240366,79879795,-83.390092,-1000,NaN,2,3,NaN,1593209479199,000eeb6d7338012c611d53bd738029e8
1,NaN,0,NaN,103540,40.295117,45760525,-83.506669,41039883,20200608,115335,...,40.188876,42917865,-82.757246,-1000,NaN,2,0,NaN,1591617215658,00244d3c3cde604807b2e8ca612c3f7d
2,NaN,0,NaN,100943,40.071973,7484165,-83.149719,27902919,20200626,14230,...,39.985660,6417559,-83.024296,-1000,NaN,2,3,NaN,1593135750053,003c21fe61a65793f4a70a5b2abf278d
3,NaN,0,NaN,101795,40.099162,64137345,-83.120776,-1000,20200621,173039,...,40.255500,63039737,-83.206426,-1000,NaN,2,2,NaN,1592760639138,005c81e8fc47e3f3eda32979a80d9253
4,NaN,0,NaN,102645,40.277439,60135401,-83.511232,12626964,20200602,163928,...,40.276127,59969581,-83.507510,-1000,NaN,2,3,NaN,1591115968982,00602c5e6355111b60e88524ef54835a

In [17]:
# Create a subset of all variables we want to look at
df_summary = df_summary[['device', 'endlatitude', 'endlocaltime', 'endlongitude', 'startlatitude', 'startlocaltime', 'startlongitude']]
df_summary.head()

,device,endlatitude,endlocaltime,endlongitude,startlatitude,startlocaltime,startlongitude
0,101228,40.267269,80818385,-83.374784,40.240366,79879795,-83.390092
1,103540,40.295117,45760525,-83.506669,40.188876,42917865,-82.757246
2,100943,40.071973,7484165,-83.149719,39.985660,6417559,-83.024296
3,101795,40.099162,64137345,-83.120776,40.255500,63039737,-83.206426
4,102645,40.277439,60135401,-83.511232,40.276127,59969581,-83.507510

In [18]:
# Create EVTWARN dataframe
df_evtwarn = pd.read_csv('export_dataframe_evtwarn.csv')
df_evtwarn = pd.DataFrame(df_evtwarn)
df_evtwarn_shape = df_evtwarn.shape
print("EvtWarn Shape: rows: " + str(df_evtwarn_shape[0]) + " and columns: " + str(df_evtwarn_shape[1]))
df_evtwarn.head()

EvtWarn Shape: rows: 39992 and columns: 36

,alertlevel,device,eventappid,filedate,filetimeutc,hvbrakestatus,hvelevation,hvheading,hvlatitude,hvlongitude,...,rvlongitude,rvlongitudinalaccel,rvlongoffset,rvrandomid,rvrange,rvrangerate,rvspeed,rvturnsignal,rvyawrate,uuid
0,3,101084,2,20200626,153741,1,299.72,307.97,40.275823,-83.534253,...,-83.535211,1000.00,0.000000,0,92.91643,-29.308530,17.50,-1,0.00,000146c7a58d92cfd836e0a1e33978fd
1,2,100148,13,20200617,121616,0,275.79,315.70,40.154879,-83.223495,...,-83.224702,0.23,150.208900,7395,79.73953,0.659277,33.76,-1,0.24,000b4593e8a54b03f8b218525c128c5c
2,2,100148,13,20200617,121616,0,260.79,306.08,40.184352,-83.253963,...,-83.254664,0.00,76.601585,7395,75.69694,-0.357650,33.36,-1,-0.48,00135f5a1c7cfe0d2e2c7b9186199613
3,2,100148,13,20200617,121616,0,255.39,315.49,40.142089,-83.207165,...,-83.208249,0.04,135.360240,7395,79.73953,0.659277,33.62,-1,0.00,00139335e32bc4123fa3271677a3ce8b
4,2,100148,13,20200617,121616,0,294.69,290.70,40.257229,-83.457172,...,-83.458640,0.00,134.380160,3751,43.94442,0.218037,33.54,-1,0.24,0017620552572e35ba55b0050457ed92

In [19]:
# Create RVBSM dataframe
df_rvbsm = pd.read_csv('export_dataframe_rvbsm.csv')
df_rvbsm = pd.DataFrame(df_rvbsm)
df_rvbsm_shape = df_rvbsm.shape
print("RvBsm Shape: rows: " + str(df_rvbsm_shape[0]) + " and columns: " + str(df_rvbsm_shape[1]))
df_rvbsm.head()

RvBsm Shape: rows: 491 and columns: 18

,basicvehicleclass,brakestatus,bsmpsid,device,elevation,filedate,filetimeutc,gpsspeed,heading,key,latitude,localtimems,longaccel,longitude,rvdevice,rvrandomid,uuid,yawrate
0,0,0,1,102013,275.0,20200601,192550,0.00,6.0000,ff1f5e3299bac5e43f2df61e110f3cbc,40.236207,70364521,0.00,-83.366904,6564,0,ff1f5e3299bac5e43f2df61e110f3cbc,0.00
1,0,0,32,100085,241.8,20200627,143418,11.60,182.5625,ff1f7f7d52709cab4c99d0620a2aa740,40.099971,52850535,-0.28,-83.091425,30676,63918,ff1f7f7d52709cab4c99d0620a2aa740,-0.04
2,0,0,1,101228,275.0,20200612,232057,10.82,279.0000,ff2076e090e98fe7bb5256dcad1f627b,40.236303,84356452,0.00,-83.365501,6135,0,ff2076e090e98fe7bb5256dcad1f627b,0.00
3,0,0,1,100810,275.0,20200608,192413,0.00,185.0000,ff216532d91fe082a384c0a790446872,40.236536,70324155,0.00,-83.366935,5458,0,ff216532d91fe082a384c0a790446872,0.00
4,0,0,32,101260,253.8,20200610,122232,33.38,338.6000,ff216ec1b73b6219591b2da0cbd320aa,40.120658,44979375,-0.04,-83.185153,100336,18401,ff216ec1b73b6219591b2da0cbd320aa,0.24

In [20]:
# Create SPAT dataframe
df_spat = pd.read_csv('export_dataframe_spat.csv')
df_spat = pd.DataFrame(df_spat)
df_spat_shape = df_spat.shape
print("Spat Shape: rows: " + str(df_spat_shape[0]) + " and columns: " + str(df_spat_shape[1]))
df_spat.head()

Spat Shape: rows: 19389 and columns: 11

,device,filedate,filetimeutc,intersectid,key,laneid,localtimems,minendtime,movementphase,signalgroupid,uuid
0,100943,20200619,170604,7,00016fa0e1b7541bc8069eb51eeae84d,11,61762878,5714,3,1,00016fa0e1b7541bc8069eb51eeae84d
1,102816,20200622,151732,7,000719ed7007bd8db63359a29ee59d5f,11,55291986,12958,1,1,000719ed7007bd8db63359a29ee59d5f
2,102645,20200620,135451,4,00085858ca1c59030dc76ff73aa96267,11,52679655,23204,3,3,00085858ca1c59030dc76ff73aa96267
3,102989,20200607,112210,13129,000999330abd8fdfb0283699a89a625c,2,41114406,15363,1,2,000999330abd8fdfb0283699a89a625c
4,102849,20200603,125437,9,000a82c7bd350309a05a84b0778bd1e7,6,46629944,-30892,3,1,000a82c7bd350309a05a84b0778bd1e7

In [21]:
# HOST Table

# Finding unique headlamp values (#255 invalid)
headlamp = set(df_host['headlamp'])
print("Headlamp: " + str(headlamp))

# Finding unique wiper values (#255 invalid)
wiper = set(df_host['wiper'])
print("Wiper: " + str(wiper))

# Finding unique turn signal values (#255 invalid)
turnsignal = set(df_host['turnsignal'])
print("Turn Signal: " + str(turnsignal))

# Finding unique stability control status values (#255 invalid)
stability_control_status = set(df_host['stabilitycontrolstatus'])
print("Stability Control Status: " + str(stability_control_status))

# Finding unique traction control status values (#255 invalid)
transition_state = set(df_host['transstate'])
print("Transition State: " + str(transition_state))

# Finding unique traction control status values (#255 invalid)
traction_control_status = set(df_host['traccontrolstatus'])
print("Traction Control Status: " + str(traction_control_status))

# Finding unique brake status values (#255 invalid)
brake_status = set(df_host['brakestatus'])
print("Brake Status: " + str(brake_status))

# Finding unique speed values (#1000 invalid)
speed = list(set(df_host['speed']))
for x in range(len(speed)):
    if speed[x] == 1000:
        print("Speed: " + str(speed[x]))
    else:
        pass

# Finding unique speed values (#1000 invalid)
yawrate = list(set(df_host['yawrate']))
for x in range(len(yawrate)):
    if yawrate[x] == 1000:
        print("Yaw Rate: " + str(yawrate[x]))
    else:
        pass

Headlamp: {0, 2, 3, -1}
Wiper: {0, 1, 2, 3, -1}
Turn Signal: {0, 1, 2, -1}
Stability Control Status: {0, -1}
Transition State: {0, 1, 2, 3, -1}
Traction Control Status: {0, 1, -2, -7, -6, -4, -3, -1}
Brake Status: {0, 1, -1}
Speed: 1000.0
Yaw Rate: 1000.0

In [23]:
# Finding the number of wrong values within the columns above

# selecting rows based on headlamp = -1
headlamp_df = df_host[df_host['headlamp'] < 0] 

print('No. of -1s in Headlamp : ', len(headlamp_df))

# selecting rows based on wiper = -1
wiper_df = df_host[df_host['wiper'] < 0] 

print('No. of -1s in Wiper : ', len(wiper_df))

# selecting rows based on turnsignal = -1
turnsignal_df = df_host[df_host['turnsignal'] < 0] 

print('No. of -1s in Turn Signal : ', len(turnsignal_df))

# selecting rows based on stability = -1
headlamp_df = df_host[df_host['stabilitycontrolstatus'] < 0] 

print('No. of -1s in Stability Control Status : ', len(headlamp_df))

# selecting rows based on transition state < -1
transitionstate_df = df_host[df_host['transstate'] < 0] 

print('No. of <0s in Transition State : ', len(transitionstate_df))

# selecting rows based on traction control < -1
tractioncontrol_df = df_host[df_host['traccontrolstatus'] < 0] 

print('No. of -1s in Headlamp : ', len(tractioncontrol_df))

# selecting rows based on brake status = -1
brakestatus_df = df_host[df_host['brakestatus'] < 0] 

print('No. of -1s in Headlamp : ', len(brakestatus_df))

# selecting rows based on speed = 1000
speed_df = df_host[df_host['speed'] == 1000] 

print('No. of Speed at 1,000 : ', len(speed_df))

# selecting rows based on yaw rate = 1000
yawrate_df = df_host[df_host['yawrate'] == 1000] 

print('No. of Yaw Rate at 1,000 : ', len(yawrate_df))

No. of -1s in Headlamp :  43317
No. of -1s in Wiper :  43317
No. of -1s in Turn Signal :  43317
No. of -1s in Stability Control Status :  43317
No. of <0s in Transition State :  43317
No. of -1s in Headlamp :  43317
No. of -1s in Headlamp :  43317
No. of Speed at 1,000 :  43317
No. of Yaw Rate at 1,000 :  43317

In [24]:
df_host.drop(df_host[df_host['headlamp'] < 0].index, inplace = True)

In [26]:
# Finding the number of wrong values within columns above AFTER dropping bad values

# selecting rows based on headlamp = -1
headlamp_df = df_host[df_host['headlamp'] < 0] 

print('No. of -1s in Headlamp : ', len(headlamp_df))

# selecting rows based on wiper = -1
wiper_df = df_host[df_host['wiper'] < 0] 

print('No. of -1s in Wiper : ', len(wiper_df))

# selecting rows based on turnsignal = -1
turnsignal_df = df_host[df_host['turnsignal'] < 0] 

print('No. of -1s in Turn Signal : ', len(turnsignal_df))

# selecting rows based on stability = -1
headlamp_df = df_host[df_host['stabilitycontrolstatus'] < 0] 

print('No. of -1s in Stability Control Status : ', len(headlamp_df))

# selecting rows based on transition state < -1
transitionstate_df = df_host[df_host['transstate'] < 0] 

print('No. of <0s in Transition State : ', len(transitionstate_df))

# selecting rows based on traction control < -1
tractioncontrol_df = df_host[df_host['traccontrolstatus'] < 0] 

print('No. of -1s in Headlamp : ', len(tractioncontrol_df))

# selecting rows based on brake status = -1
brakestatus_df = df_host[df_host['brakestatus'] < 0] 

print('No. of -1s in Headlamp : ', len(brakestatus_df))

# selecting rows based on speed = 1000
speed_df = df_host[df_host['speed'] == 1000] 

print('No. of Speed at 1,000 : ', len(speed_df))

# selecting rows based on yaw rate = 1000
yawrate_df = df_host[df_host['yawrate'] == 1000] 

print('No. of Yaw Rate at 1,000 : ', len(yawrate_df))

No. of -1s in Headlamp :  0
No. of -1s in Wiper :  0
No. of -1s in Turn Signal :  0
No. of -1s in Stability Control Status :  0
No. of <0s in Transition State :  0
No. of -1s in Headlamp :  0
No. of -1s in Headlamp :  0
No. of Speed at 1,000 :  0
No. of Yaw Rate at 1,000 :  0